{% extends "registration/base.html" %} {% load socialaccount %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  {% block content %} {% load static %}
  <link rel="stylesheet" href="{% static 'css/login.css' %}" />
  <body>
    <div class="heading1">
       <h1>Login</h1>
    </div>
    <div class="container">
      <form method="post" action="{% url 'login' %}">
        {% csrf_token %} Username:
        <input type="text" name="username" />
        Password:
        <input type="password" name="password" />
        <button type="submit" class="submit">Log In</button>
        <a href="{% url 'password_reset' %}">Forgot Password</a>
<div class="wrong-details">
  {% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

</div>
        <button class="loginBtn loginBtn--google">
          <a
            href="{% provider_login_url 'google' method='oauth2' next='/home/' %}"
            >Signup Google</a
          >
        </button>

        <button class="loginBtn loginBtn--facebook">
          <a
            href="{% provider_login_url 'facebook' method='oauth2' next='/home/' %}"
            >Signup Facebook</a
          >
        </button>

        <button class="signup"><a href="{% url 'signup' %}">Signup</a></button>
      </form>
    </div>
  </body>
  {% endblock %}
</html>
