{% extends "registration/base.html" %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>

  <body>
    {% block content %} {% load static %}
    <link rel="stylesheet" href="{%static 'css/signup.css'%}" />
    <h2>Sign Up</h2>
    <div class="container">
      <form method="post" action="{% url 'signup' %}">
        {% csrf_token %}

        <div class="form-field">
          {{ user_form.username.label_tag }} {{ user_form.username }}
        </div>
        {% if form.username.errors %}
        <div class="alert alert-danger">{{ form.username.errors }}</div>
        {% endif %}
        <div class="form-field">
          {{ user_form.email.label_tag }} {{ user_form.email }}
        </div>
        <div class="form-field">
          {{ user_form.first_name.label_tag }} {{ user_form.first_name }}
        </div>
        <div class="form-field">
          {{ user_form.last_name.label_tag }} {{ user_form.last_name }}
        </div>
        <div class="form-field">
          {{ user_form.password1.label_tag }} {{ user_form.password1 }}
        </div>
        <div class="form-field">
          {{ user_form.password2.label_tag }} {{ user_form.password2 }}
        </div>

        <!-- Include fields from RegularUserCreationForm -->
        <div class="form-field">
          <!-- Add any additional fields for RegularUser here -->
          {{ regular_user_form.some_field.label_tag }}
          {{regular_user_form.some_field }}
        </div>

        <button type="submit" class="submit">Sign Up</button>

        <button type="submit" class="submit">
          <a href="{% url 'login' %}" class="login-link">Login</a>
        </button>
      </form>
    </div>
    {% endblock %}
  </body>
</html>
